body {
    background: radial-gradient(circle at 40% 20%, rgba(22,164,158,255) 20%, rgba(40,56,145,255) 60% );
    font-family: 'Open Sans';
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.spacing {
    margin-left: 20%;
    margin-right: 20%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 43px;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 135px;
    margin-bottom: 50px;
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.create-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.image-selector {
    margin: 60px;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 334px;
    height: 334px;
    border-radius: 50%;
    border: 13px solid #25aae1;
}

.circle:hover {
    cursor: pointer;
}

.file-picker {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.input-fields input {
    width: 450px;
    padding-top: 48px;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 26px;
}

.input-fields input:focus {
    outline: none;
}

.input-fields input::placeholder {
    color: white;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 110px;
}

.button-container input {
    width: 379px;
    height: 71px;
    margin-top: 115px;
    border-radius: 20px;
    font-size: 42px;
    font-weight: 700;
    font-stretch: ultra-condensed;
    color: white;

    /* remove default styling */
    background: #fcb040;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.button-container input:hover {
    background: #fcb040;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

.canvas-wrapper {
    align-self: center;
    width: 679;
    height: 382;
}

.canvas-wrapper canvas {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 110px;
}